<section class="phx-hero">
  <h1><%= gettext "Welcome to Forum %{name}!", name: @name %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Threads</h2>
    <ul>
    <%= for thread <- @threads do %>
      <li><strong><%= thread.title%></strong>     <%= link "  details", to: Routes.thread_path(@conn, :show, thread) %> <%= number_of_replies(thread) %></li><hr>
    <% end %>
    </ul>
  </article>
</section>
<%= link "New Thread", to: Routes.thread_path(@conn, :new)%>
